user_uuid="123e4567-xxxx-xxx-xx-xxxxx"
bucket_name="uxxxxxxxnieqq417oe"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2